body {
    font-family: "Trebuchet MS";
    font-size: 15px;
    color: #333;
    background: #181a1d url(../images/afgan_main.jpg) no-repeat top left fixed;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inner {
    width: 80vw;
    margin: 0 auto;
}

.left_inner {
    display: inline;
    margin-left: 2.5vw;
}

.right_inner {
    display: inline;
    float: right;
    margin-right: 5vw;
}

#header {
    position: sticky;
    top: 0;
    left: 0;

    min-width: 100vh;
    height: 5vh;

    background: #392f1e;

    color: #8b857b;
    font-weight: bold;
    z-index: 1488;
}

#header_inner {
    line-height: 5vh;
}

#header_inner * {
    display: inline;
}

#header_to_top {
    padding: 2vw;
}

#logo {
    margin-left: 45%;
    font-size: 1.5em;
}

#background {
    position: relative;
    margin: 2vh 0 2vh;
}

#container {
    width: 80vw;
    margin: 0 auto 0;
}

#page {
    min-height: 82vh;
    overflow: hidden;
    padding: 2vh 2vw 2vh 2vw;
    background: #958b7d;
    text-align: justify;
}

#content {
    float: left;
    width: 80%;
}

#content * {
    max-width: 100%;
    max-height: 100%;
}

#sidebar {
    color: #4d4332;
    padding: 0.5vw;
    float: right;
    width: 15%;
}

#sidebar * {
    padding-top: 0.3vh;
}

.clickable_header {
    cursor: pointer;
    font-size: 1.2em;
}

.clickable_header:hover {
    text-decoration: underline;
}

.clickable_element {
    cursor: pointer;
}

.clickable_element:hover {
    text-decoration: underline;
}

#footer {
    height: 5vh;

    background: #392f1e;

    color: #8b857b;
    font-weight: bold;
}

#footer_inner {
    line-height: 5vh;
}
